body {
	background: grey;
}
#canvas {
	border: 5px solid black;
	/*background-color: #F0F0FF;*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#playerImage, #npcImage, #backgroundImage, #enemyImage, #screen {
	display: none;
}